<% if notice.present? %>
  <p class="fixed top-14 right-6 bg-green-100 text-green-800 px-4 py-2 rounded shadow text-sm z-50">
    <%= notice %>
  </p>
<% end %>

<% if alert.present? %>
  <p class="fixed top-14 right-6 bg-red-100 text-red-800 px-4 py-2 rounded shadow text-sm z-50">
    <%= alert %>
  </p>
<% end %>
