<nav class="fixed top-0 w-full bg-yellow-400 flex justify-between items-center h-14 px-3">
  <!-- Logo -->
  <div class="border-r border-white/40 pr-3">
    <%= link_to root_path, class: "text-2xl font-black text-white/80" do %>
      <h1>JoinJob</h1>
    <% end %>
  </div>

  <!-- Navigation -->
  <div class="flex items-center">
    <% items = [
      ["JOINJOB", root_path],
      ["COURSES", courses_path],
      ["ACCOUNT SETTINGS", edit_user_registration_path]
    ].compact %>

    <%= select_tag :navigation,
        options_for_select(items, request.path),
        onchange: "Turbo.visit(this.value)",
        data: { turbo_frame: :main }
    %>
    
      <!-- User Actions -->
      <% if user_signed_in? %>
        <%= link_to 'Sign out',
                    destroy_user_session_path,
                    data: { turbo_method: :delete },
                    class: "text-red-600 hover:underline" %>
      <% end %>
  </div>
</nav>




