
<div class="breadcrumbs py-4 bg-base-300 mt-14">  

<ul class="flex space-x-2 px-6 text-sm">
  <% if user_signed_in? %>
    <li><a><%= current_user.email %></a></li>
  <% end %>
  <li><a>Documents</a></li>
  <li>Add Document</li>
</ul>

</div>



