
<div class="bg-base-200 h-screen w-full  pt-14  " >





<!-- Success Alert -->
<div class="flex items-center p-4 mb-4 bg-green-100 border-l-4 border-green-500 rounded-standard dark:bg-green-900/30 dark:border-green-500">
  <svg class="w-5 h-5 text-green-500 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
  </svg>
  <div>
    <span class="font-medium text-green-700 dark:text-green-400">Success!</span>
    <p class="text-sm text-green-600 dark:text-green-300">Your account has been created successfully.</p>
  </div>
  <button class="ml-auto text-green-500 hover:text-green-700">
    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
</div>

<!-- Error Alert -->
<div class="flex items-center p-4 mb-4 bg-red-100 border-l-4 border-red-500 rounded-standard dark:bg-red-900/30 dark:border-red-500 animate-move-down">
  <svg class="w-5 h-5 text-red-500 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path>
  </svg>
  <div>
    <span class="font-medium text-red-700 dark:text-red-400">Error!</span>
    <p class="text-sm text-red-600 dark:text-red-300">There was a problem with your submission.</p>
  </div>
  <button class="ml-auto text-red-500 hover:text-red-700">
    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
</div>

<!-- Warning Alert (using amarillo-mostaza) -->
<div class="flex items-center p-4 mb-4 bg-amarillo-mostaza/20 border-l-4 border-amarillo-mostaza rounded-standard dark:bg-amarillo-mostaza/10 dark:border-amarillo-mostaza">
  <svg class="w-5 h-5 text-amber-600 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path>
  </svg>
  <div>
    <span class="font-medium text-amber-700 dark:text-amber-400">Warning!</span>
    <p class="text-sm text-amber-600 dark:text-amber-300">Your password will expire in 3 days.</p>
  </div>
  <button class="ml-auto text-amber-500 hover:text-amber-700">
    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
</div>

<!-- Info Alert (using blue-sky) -->
<div class="flex items-center p-4 mb-4 bg-blue-sky-DEFAULT/10 border-l-4 border-blue-sky-DEFAULT rounded-standard dark:bg-blue-sky-DEFAULT/20 dark:border-blue-sky-light">
  <svg class="w-5 h-5 text-blue-sky-DEFAULT mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zm-1 9a1 1 0 01-1-1v-4a1 1 0 112 0v4a1 1 0 01-1 1z" clip-rule="evenodd"></path>
  </svg>
  <div>
    <span class="font-medium text-blue-sky-DEFAULT dark:text-blue-sky-light">Information!</span>
    <p class="text-sm text-blue-600 dark:text-blue-300">Your profile has been updated.</p>
  </div>
  <button class="ml-auto text-blue-sky-DEFAULT hover:text-blue-700">
    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
</div>

<!-- Custom Pink Alert (using onlypink) -->
<div class="flex items-center p-4 mb-4 bg-onlypink/20 border-l-4 border-onlypink rounded-complete dark:bg-onlypink/10 dark:border-onlypink-dark shadow-md">
  <svg class="w-5 h-5 text-pink-600 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd"></path>
  </svg>
  <div>
    <span class="font-medium text-pink-700 dark:text-pink-400">Thank you!</span>
    <p class="text-sm text-pink-600 dark:text-pink-300">Your feedback has been received.</p>
  </div>
  <button class="ml-auto text-pink-500 hover:text-pink-700">
    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
</div>

<!-- Floating Alert with Animation -->
<div class="fixed bottom-4 right-4 flex items-center p-4 bg-white dark:bg-primary-dark border-l-4 border-blue-sky-DEFAULT rounded-standard shadow-lg animate-move-down">
  <svg class="w-5 h-5 text-blue-sky-DEFAULT mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"></path>
  </svg>
  <div>
    <span class="font-medium text-gray-800 dark:text-white">Notification</span>
    <p class="text-sm text-gray-600 dark:text-gray-300">You have a new message.</p>
  </div>
  <button class="ml-auto text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200">
    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
</div>


</div>





